/* ===== BASE ===== */
body{
  margin:0;
  font-family: monospace;
  background:#2b1d14;
  color:#f5e6c8;
  display:flex;
}

#game-container{
  display: flex;
  gap: 10px;
}

#aside-bando{
  width: 500px;
  background: #1b120c;
  border: 3px solid #5a3e2b;
  color: #cdb892;
  padding: 10px;
}

#aside-bando h3{
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  border-bottom: 3px solid #5a3e2b;
  padding-bottom: 4px;
}

#aside-bando p{
  font-size: 12px;
  text-align: center;
}


aside{
  width:240px;
  background:#1a120b;
  padding:10px;
  border-right:3px solid #5a3e2b;
}

.avatar{
  width:144px;
  height:144px;
  background:#3a2618;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50;
  border-radius:10px;
  border:2px solid #7a5236;
}

/* ===== NOME PERSONAGEM ===== */
h3{
  text-align:center;
  margin-top:0;
  margin-bottom:10px;
}

/* ===== TÍTULO ===== */
#logomain{
  display:block;
  margin: 20px auto 010px auto;
}

.separador{
  border: none;
  border-top: 2px solid #5a3e2b;
  margin: 12px 0;
  opacity: 0.8;
}


/* ===== TABS ===== */
.tabs button{
  width:100%;
  margin-bottom:6px;
  background:#2f1f14;
  border:1px solid #6b4a33;
  color:#f0d9a6;
  cursor:pointer;
  padding:6px;
}
.tabs button:hover{background:#3e2a1c;}

.panel{display:none;font-size:13px;}
.panel.active{display:block;}

/* ===== CONTADOR DIA ===== */
.hud-info{
  margin:6px 0;
  padding:6px;
  background:#120b06;
  border:1px solid #6b4a33;
  border-radius:6px;
  font-size:14px;
  text-align:center;
}
/* ===== BARRAS ===== */
.bar{
  background:#120b06;
  border:1px solid #6b4a33;
  border-radius:6px;
  height:12px;
  margin:4px 0 8px;
  overflow:hidden;
}
.fill{
  height:100%;
  width:0%;
  transition:width .4s;
}
.energy{background:#4caf50;}
.drunk{background:#c49b3a;}
.xp{background:#4a90e2;}
.vice{background: linear-gradient(90deg, #a00000, #ff4444);}


/* ===== MAIN ===== */
main{
  flex:1;
  display:flex;
  flex-direction:column;
}
h1{
  margin:10px;
  font-size:60px;
  text-align:center;
  color:#f0d9a6;
}


header{
  background:#1c120b;
  padding:10px;
  display:flex;
  gap:8px;
  flex-wrap:wrap;
  border-bottom:3px solid #5a3e2b;
  border-top: 3px solid #5a3e2b;
  
}
header button{
  background:#7a5236;
  border:1px solid #7a5236;
  color:#f5e6c8;
  padding:6px 12px;
  cursor:pointer;
}
header button:hover{background:#4a321f;}

section{
  padding:15px;
  display:none;
}
section.active{display:block;}
section button{
  background:#2f1f14;
  border:1px solid #6b4a33;
  color:#f0d9a6;
  padding:6px 10px;
  margin:4px 0;
  cursor:pointer;
}
section button:hover{background:#3e2a1c;}

#log{
  height:600px;            /* ALTURA FIXA */
  background:#0e0906;
  padding:10px;
  overflow-y:auto;         /* SCROLL VERTICAL */
  overflow-x:hidden;
  border-top:3px solid #5a3e2b;
  font-size:13px;
}

#log::-webkit-scrollbar{
  width:10px;
}
#log::-webkit-scrollbar-thumb{
  background:#6b4a33;
}
#log::-webkit-scrollbar-track{
  background:#120b06;
}



/* ===== LOG UX ===== */
.log-line{
  opacity:0.35;
  transition:opacity .3s;
}

.log-line:nth-child(1){
  opacity:1;
  color:#ffe7b3;
  font-weight:bold;
  text-shadow:0 0 6px rgba(255,220,150,.6);
}

.log-line:nth-child(2){
  opacity:0.75;
}

.log-line:nth-child(3){
  opacity:0.55;
}

#vida{
  display: flex;
  gap: 6px;
  margin: 6px 0 10px 0;
}

.coracao{
  font-size: 20px;
  color: #8b0000;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.coracao.cheio{
  opacity: 1;
}

/* ===== TELA INICIAL ===== */
#startScreen{
  position:fixed;
  inset:0;
  background:#2b1d14;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.start-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#1a120b;
  padding:50px;
  border:3px solid #5a3e2b;
  border-radius:10px;
}


.start-box h1{
  margin:0 0 10px;
  font-size:42px;
  color:#f0d9a6;
}

.start-box p{
  font-size:14px;
  margin-bottom:20px;
  opacity:.8;
}

.start-box input{
  width:100%;
  max-width: 260%;
  padding:8px;
  margin-bottom:15px;;
  background:#2f1f14;
  border:1px solid #6b4a33;
  color:#f5e6c8;
  text-align:center;
}

.start-box input:focus{
  outline: none;
  box-shadow: 0 0 6px #caa66a;
  border-color: #caa66a;
}


.start-box button{
  width:100%;
  padding:10px;
  background:#7a5236;
  border:none;
  color:#f5e6c8;
  font-weight:bold;
  cursor:pointer;
}

.start-box button:hover{
  background:#4a321f;
}

/* ===== INTRO / ALERTA ===== */
#introScreen{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.75);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:9998;
}

#introScreen .start-box{
  max-width:420px;
}



/* ===== GAME OVER ===== */
#gameOverScreen{
  position:fixed;
  inset:0;
  background:#000000;
  display:none;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

#gameOverScreen .start-box{
  color:#c9c9c9;
  border-color:#7a5236;
}

#gameOverScreen h1{
  color:#c9c9c9;
}

#cassino input{
  width:10%;
  padding:8px;
  margin:8px 0;
  background:#f7f7f7;
  border:1px solid #6b4a33;
  color:#181818;
  text-align:center;
}

.cassino-display{
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: 32px;
  background:#120b06;
  border:2px solid #6b4a33;
  border-radius:8px;
  min-height:50px;
  letter-spacing:6px;
}

.cassino-rodando{
  animation: piscar 0.3s infinite;
}


@keyframes piscar{
  0%{opacity:0.3;}
  50%{opacity:1;}
  100%{opacity:0.3;}
}

.botao-bloqueado{
  opacity:0.4;
  pointer-events:none;
}


/* ===== BLACKJACK ===== */

#mesa-blackjack{
  margin-top:15px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.mao{
  display:flex;
  gap:10px;
  min-height:120px;
}


/* ===== CARTAS ===== */

.carta{
  width:80px;
  height:120px;
  background:#f5e6c8;
  border-radius:8px;
  border:2px solid #2b1d14;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  font-weight:bold;
  color:#2b1d14;
  box-shadow:0 6px 12px rgba(0,0,0,.6);

  opacity:0;
  transform: translateY(-30px) scale(0.85);
  animation: entrarCarta .35s ease-out forwards;
}

.carta.verso{
  background:#c25d10;
  color:transparent;
}

@keyframes entrarCarta{
  to{
    opacity:1;
    transform: translateY(0) scale(1);
  }
}

.carta.virar{
  animation: virarCarta .5s ease forwards;
}

@keyframes virarCarta{
  0%{ transform: rotateY(0deg); }
  50%{ transform: rotateY(90deg); }
  100%{ transform: rotateY(0deg); }
}

/* ===== DADOS ===== */

#mesa-dados{
  margin-top:20px;
  padding:15px;
  background:#1a120b;
  border:2px solid #7a5236;
  border-radius:12px;
  width:fit-content;
}

.dados-area{
  display:flex;
  gap:20px;
  margin-bottom:12px;
}

.dado{
  width:80px;
  height:80px;
  background:#f5e6c8;
  border-radius:12px;
  border:3px solid #2b1d14;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:36px;
  font-weight:bold;
  color:#2b1d14;
  box-shadow:0 6px 12px rgba(0,0,0,.6);
}

/* animação de rolagem */
.dado.rolando{
  animation: rolarDado .8s ease-in-out;
}

@keyframes rolarDado{
  0%{
    transform: translate(0,0) rotate(0deg);
  }
  20%{
    transform: translate(-8px,-10px) rotate(90deg);
  }
  40%{
    transform: translate(10px,6px) rotate(180deg);
  }
  60%{
    transform: translate(-6px,4px) rotate(270deg);
  }
  80%{
    transform: translate(4px,-6px) rotate(360deg);
  }
  100%{
    transform: translate(0,0) rotate(360deg);
  }
}

.dados-opcoes{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.dados-opcoes button{
  flex:1;
  padding:8px;
  background:#2f1f14;
  border:1px solid #6b4a33;
  color:#f0d9a6;
  cursor:pointer;
  font-weight:bold;
}

.dados-opcoes button:hover{
  background:#3e2a1c;
}

/* mesa do blackjack */
#mesa-blackjack{
  margin: auto;
  background: radial-gradient(circle at center, #1f6b3a, #0f3d22);
  padding:20px;
  border-radius:16px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.6),
              0 10px 25px rgba(0,0,0,.6);
}

/* área das mãos */
#mesa-blackjack > div{
  background: rgba(0,0,0,.25);
  padding:10px;
  border-radius:12px;
}

/* cartas */
#playerHand,
#dealerHand{
  display:flex;
  gap:10px;
  min-height:140px;
}

.carta{
  position: relative;
  width:80px;
  height:120px;
  perspective:1000px;
}

.carta-inner{
  width:100%;
  height:100%;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.carta.aberta .carta-inner{
  transform: rotateY(180deg);
}

.carta-face{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:8px;
  font-size:22px;
  font-weight:bold;
}

.carta-frente{
  background:#f5e6c8;
  color:#2b1d14;
  transform: rotateY(180deg);
}

.carta-verso{
  background:repeating-linear-gradient(
    45deg,
    #ffffff,
    #7a5236 10px,
    #ff6600 10px,
    #a83636 20px
  );
}

#localidade-mina{
  background: linear-gradient(180deg, #3a2b1d, #1f140c);
  margin: auto;
  border-radius:14px;
  padding:20px;
  box-shadow: inset 0 0 25px rgba(0,0,0,.7);
  color:#f5e6c8;
}

#localidade-mina h2{
  margin-bottom:10px;
}

#localidade-mina button{
  margin-top:10px;
  padding:8px 14px;
  border-radius:8px;
  background:#7a5a2e;
  color:#fff;
  border:none;
  cursor:pointer;
}

#localidade-mina button:hover{
  background:#9c743a;
}











/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 10px;
  background-color: #1a120b;
  color: #f5e6c8;
  border-top: 3px solid #5a3e2b;
  font-size: 12px;
}